
<div class="row">
  <div class="col-md-12">
    <h2>Items
      <a href="/Items/add" class="btn btn-success pull-right">Add Item</a>
    </h2>
    <hr />
    <div class="table-responsive">
      <table class="table">
        <thead>
          <td>Item ID</td>
          <td>Title</td>
          <td>Post Date</td>
          <td>Price</td>
          <td>Category</td>
          <td>Published</td>
        </thead>
        <tbody>
          {{#each items}}
            <tr>

              <td>{{this.id}}</td>
              <td>{{this.title}}</td>
              <td>{{formatDate this.postDate}}</td>
              <td>{{this.price}}</td>
              <td><a
                  href="/items?category={{this.category}}"
                >{{this.category}}</a></td>
              <td>{{this.published}}</td>
              <td>
                <a
                  href="/Items/delete/{{this.id}}"
                  class="btn btn-danger"
                >Remove</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{#unless items}}
    <div class="col-md-12 text-center">
      <strong>{{message}}</strong>
    </div>
  {{/unless}}
</div>
